.searchContainer {
    display: inline-block;
    flex-direction: row;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    color: white;
    justify-content: space-around;
    align-self: center;
}

.input {
    border-radius: 50px;
    margin: 5px;
    padding: 4%;
    outline: none;
    background-color: #eee;
    border: 0;
    margin-left: 15px;
    margin-bottom: 40px;
}
