.container {
    border: none;
    border-radius: 4%;
    margin: 1em;
    width: 16%;
    border: solid 1px #fafafa70;
    background-color: rgba(255, 255, 255, 0.198);
    margin-left: 125px;
    color: white
}

.container:hover {
    background-color: rgba(105, 105, 105, 0.267);
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: contents;
    font-size: small;
}

.imgContainer img {
    width: 150px;
    height: 100px;
    border-radius: 4%;
}

.btn {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid rgb(255, 255, 255);
    margin: 0 0.3em 0.3em 0;
    border-radius: 1em;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
    font-size: small;
    margin-top: 0.3em;
    background-color: transparent;
    color: white;
}

.btn:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}